#navigation.navbar
    .navbar-inner
        .container
            ul.nav
                li
                    a(href='/') Servers
                li
                    a#clear-history(href='/log') Log